{% extends "layout.html" %}
{% load static %}
{% block content %}

<head>
    <title>Forgot Password? | WePark</title>
</head>
    <div class="center_container_login">
        <h1> Forgot Password?</h1>
        <div>
            <p style="font-size: small;">Enter the email associated with you account and follow the instructions, in your inbox, to reset your password</p>
            <form action="{% url 'forgot_password' %}" method="post">
                {% csrf_token %}
                <div>
                    <div>
                        <div>
                            {{form}}
                        </div>
                    </div>
                    <div>
                        <button type="submit">Send Email</button>
                    </div>
                </div>
            </form>
        </div>
    </div> 
{% endblock %}



