{% extends "layout.html" %}
{% load static %}
{% block content %}

<head>
    <title>Log-In | WePark</title>
</head>
    <div class="center_container_login">
        <h1> Log In</h1>
        <div>
            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <div>
                    <div >
                        <div>
                            <input type="email" name="email" placeholder="Email">
                        </div>
                        <div>
                            <input type="password" name="password" placeholder="Password">
                        </div>
                    </div>
                    <div>
                        <a href="{% url 'forgot_password' %}" style="padding-right:10.5vh"><button type="button">Forgot Password?</button></a>
                        <button type="submit"> Log in</button>
                    </div>
                    <a href="{% url 'create_account' %}"><button type="button">Create Account</button></a>
                </div>
            </form>
        </div>
    </div> 
{% endblock %}



